@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;



}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    background-color: #525151;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background: black;


}

