.common-editor{
    width: 100%;
    height: calc(100% - 12px);
}
.common-editor-tabs{
    flex: 1 1 auto;
}
.react-tabs__tab-list{
    display: flex;
    gap: 10px;
}




.main-page__editors{
    display: flex;
    height: 100%;
    position: relative;
    padding-bottom: 5px;
    justify-content: space-between;
    width: 100%;

}

.main-page__editors__resize {
    cursor: pointer;
    height: 5px;
    background: black;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.editor__content{
    border: 1px solid black;
    height: 100%;
    padding: 5px;
    outline: none;
    overflow: auto;

}
.editor__heading{
    font-size: 20px;
    text-transform: uppercase;
}

.react-tabs{
    height: 100%;
}

.react-tabs__tab-panel{
    height: calc(100% - 23px);
    display: none;
}

.react-tabs__tab-panel--selected{
display: block;
}

.react-tabs__tab{
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s;
    outline: none;
}

.react-tabs__tab--selected{
    background: rgb(185 185 185);
}

.highLite {
    position: relative;
    background: hsl(220, 16%, 14%);
    height: 100%;
}

.highLite_colors,
.highLite_editable {
    padding: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 13px;
}
.highLite_editable {
    position: relative;
    -webkit-text-fill-color: transparent; /* Chrome: make text transparent */
    text-fill-color: transparent; /* One day, hopefully? */
    color: hsl(100, 95%, 95%); /* But keep caret colored */
    height: calc(100% - 35px);
    overflow: auto;

}
.highLite_editable:focus {
    outline: 1px solid hsl(220, 16%, 19%);
}

/* THE UNDERLAYING ONE WITH HIGHLIGHT COLORS */
.highLite_colors {
    position: absolute;
    user-select: none;
}

.highLite_colors i {
    font-style: normal;
}

/* JS */
i.js_quot { color: hsl( 50, 75%, 70%); }
i.js_decl { color: hsl(200, 75%, 70%); }
i.js_func { color: hsl(300, 75%, 70%); }
i.js_pare { color: hsl(210, 75%, 70%); }
i.js_squa { color: hsl(230, 75%, 70%); }
i.js_curl { color: hsl(250, 75%, 70%); }
i.js_numb { color: hsl(100, 75%, 70%); }
i.js_logi { color: hsl(200, 75%, 70%); }
i.js_equa { color: hsl(200, 75%, 70%); }
i.js_comm { color: hsl(200, 10%, 45%); font-style: italic; }
i.js_comm > * { color: inherit; }

/* HTML */
i.html_angl { color: hsl(200, 10%, 45%); }
i.html_tags { color: hsl(  0, 75%, 70%); }
i.html_attr { color: hsl(200, 74%, 70%); }
