.editor{
    border: 1px solid black;
    max-width: 32%;
    height: calc(100% - 7px);
    flex: 0 1 33.33%;
    position: relative;
}


.main-page__tree-editors{
    display: flex;
    height: 40vh;
    position: relative;
}