.main-tree{
    min-width: 220px;
    height: calc(100% - 5px);
    overflow: auto;
    /*padding: 20px 5px 5px 5px;*/
    background: #434343;
    color: white;
    position: relative;

}

.main-tree__list{
    margin: 10px 5px;
}

.main-tree__list__file,
.main-tree__list__folder__file
{
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.main-tree__list__folder__file{
    margin-left: 10px;
}



.main-tree__list__file:hover,
.main-tree__list__folder__file:hover
{
    background: rgb(185 185 185);
    border-radius: 5px;
}

.main-tree__list__folder{
    cursor: pointer;
}

.close-folder ul{
    display: none;
}

.editor__content__hint{
    border: none;
    outline: none;
    position: absolute;
    background: rgb(185 185 185);
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

.main-tree__editors__resize{
    cursor: pointer;
    background: black;
    height: 100%;
    position: absolute;
    width: 2px;
    right: 0;
    bottom: 0;
    top: 0;
}

.main-tree__create-icons{
    display: flex;
    padding: 5px 10px;
    background: #1f1f1f;
    justify-content: flex-end;
    gap: 10px;
}

.main-tree__create-icons svg {
    cursor: pointer;
}