.main-page__editors{
    display: flex;
    height: 40vh;
    position: relative;
    padding-bottom: 5px;
    justify-content: space-between;

}

.main-page__editors__resize {
    cursor: pointer;
    height: 5px;
    background: black;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.editor__content{
    border: 1px solid black;
    width: calc(100% - 11px);
    max-width: calc(100% - 11px);
    height: calc(100% - 31px);
    padding: 5px;
    outline: none;
    overflow: auto;

}
.editor__heading{
    font-size: 20px;
}